<div class='nested-fields'>
    <div class='form-group'>
        <%= form.hidden_field :_destroy %>
        <%#= form.collection_select :food_id, Food.all, :id, :name %>
        <%= form.text_field :food_name, value: form.object.food&.name, list: 'foods_autocomplete' %>
        <%#= text_field_tag :recipe[food_name, form.object.food&.name, list: 'foods_autocomplete' %>

        <datalist id='foods_autocomplete'>
            <% Food.all.each do |food| %>
                <!-- <option value="<%= food.name %>"> -->
                <option value="<%= food.name %>">
            <% end %>
        </datalist>
        <%= form.text_field :serving, placeholder: 'Serving', class: 'form-control' %>
        <small>
            <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %>
        </small>
    </div>
</div>
