<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Kcal:</strong>
  <%= @food.kcal %>
</p>

<p>
  <strong>Serving:</strong>
  <%= @food.serving %>
</p>

<p>
  <strong>Kj:</strong>
  <%= @food.kj %>
</p>

<p>
  <strong>Category:</strong>
  <%= @food.category %>
</p>

<p>
  <strong>Group:</strong>
  <%= @food.group %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
